.App {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 1em;
}

.master_title{
  margin-top: 1em;
  font-size: 40px;
}

.modes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.start, .game, .over {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.start p {
  color: #ddd205;
  font-size: 13px;
  padding: 1em;
}
.start button, .game button, .over button {
  background-color: #2f46b7;
  color: #ffffff;
  font-weight: bold;
  width: 40%;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid #0698f3;
  border-radius: 10px;
  cursor: pointer;

}
.start button:hover, .game button:hover, .over button:hover{
background-color: #0f0fd9;
color: #ddd205;
transition: 1s;

}
@media (min-width: 600px) {
  .start button, .game button, .over button{
    width: 20%;
  }
}
@media (min-width: 1080px) {
  .start button, .game button, .over button {
    width: 12%;
  }
}